* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.min-vh-100{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d5e1ef;
}
.card{
    width: 260px;
    background-color: white;
    box-shadow: 0 0 2px #d5e1ef;
    padding: 10px;
    border-radius: 10px;
}
.card-image{
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.w-100{
    width: 100%;
}
p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

.card-contant{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;

}

.card-contant p{
    padding-top: 10px;
}
.w-100 , .h-100{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 21px;
}